bin/
build/
buildroot-configs/
floppy/
hotbird64-mass-build/
lib/
src/VisualStudio-Linux-Remote/
*.vcxproj*
*.html
*.pdf
*.txt
.vscode/settings.json
.vscode/launch.json
VisualStudio/vlmcsdmulti/x64
VisualStudio/vlmcsdmulti/ARM
VisualStudio/vlmcsd/ARM
VisualStudio/vlmcsd/x64
VisualStudio/libkms/x64
VisualStudio/libkms/ARM
VisualStudio/vlmcs/ARM
VisualStudio/vlmcs/x64
